html {
    scroll-behavior: smooth;
}

body {
    background-color: #0f0f0f;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 0;
}

.header{
    background-color: black;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer {
    text-align: center;
    margin-top: 40px;
}

li {
    list-style-type: none;
}